    /* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Fonts
- Main
- Mobile Nav
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
    /* Fonts */
    
    @font-face {
        font-family: 'icomoon';
        src: url('/fonts/icomoon.eot?jdyit1');
        src: url('/fonts/icomoon.eot?jdyit1#iefix') format('embedded-opentype'), url('/fonts/icomoon.ttf?jdyit1') format('truetype'), url('/fonts/icomoon.woff?jdyit1') format('woff'), url('/fonts/icomoon.svg?jdyit1#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'Roboto Slab', 'icomoon', sans-serif!important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .icon-droplet:before {
        content: "\e900";
    }
    
    .icon-height:before {
        content: "\e901";
    }
    
    .icon-measure:before {
        content: "\e902";
    }
    
    .icon-pepper:before {
        content: "\e903";
    }
    
    .icon-soil:before {
        content: "\e904";
    }
    
    .icon-spacing:before {
        content: "\e905";
    }
    
    .icon-sun:before {
        content: "\e906";
    }
    
    .icon-tomato:before {
        content: "\e907";
    }
    
    div {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    div.content {
        padding: 0;
    }
    
    #plants h3 {
        text-decoration: underline;
    }
    /* Main */
    
    ::-moz-selection {
        background-color: rgba(85, 124, 62, 1);
        color: white;
    }
    
    ::selection {
        background-color: rgba(85, 124, 62, 1);
        color: white;
    }
    
    #prices li {
        line-height: 1;
    }
    
    .content li {
        padding-left: 2em;
    }
    
    #prices h4 {
        text-align: left;
        color: #5a5a5a;
        font-variant: small-caps;
        font-size: 1.58em;
        font-style: italic;
        line-height: 0.5;
        padding-top: 0.5em;
        font-weight: bold;
    }
    
    #home {
        background-position: center center;
    }
    
    #home a {
        color: white
    }
    
    .contact,
    .prices,
    .seeds,
    .plants {
        background-position: top center;
    }
    
    #home,
    .contact,
    .prices,
    .seeds,
    .plants {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    #home {
        background-image: url(/images/home.jpg);
    }
    
    .contact {
        background-image: url(/images/contact.jpg);
    }
    
    .prices {
        background-image: url(/images/prices.jpg)
    }
    
    .seeds {
        background-image: url(/images/seeds.jpg)
    }
    
    .plants {
        background-image: url(/images/plant.jpg)
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        padding: 0 1em;
    }
    
    #home {
        text-align: center;
    }
    
    #home h1 {
        color: white;
        padding-top: 2em;
        font-weight: bold;
    }
    
    #home h5 {
        color: white;
        font-size: 1.5em;
        font-weight: 900;
    }
    
    #home a.button {
        margin-bottom: 10em;
    }
    
    #contact h1,
    #prices h1,
    .seeds h1,
    .plants h1 {
        padding-top: 1em;
        font-weight: bold;
        text-align: center;
        font-size: 3.25em;
        color: white;
    }
    
    .seeds h1,
    .plants h1 {
        padding-bottom: 1em;
    }
    
    #contact h5,
    #prices h5 {
        color: white;
        font-size: 1.5em;
        font-weight: 900;
        text-align: center;
        padding-bottom: 2em;
    }
    
    #about h1 {
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
        padding-top: 1.5em;
    }
    
    section#about {
        padding: 1em inherit;
        background-color: white;
    }
    
    #contact div.row,
    #prices div.row {
        padding-top: 2em;
    }
    
    ul#menu li a:hover {
        text-decoration: underline;
    }
    
    form {
        padding: 0 1em;
    }
    
    nav a {
        color: white;
    }
    
    nav a:hover {
        color: white;
    }
    
    nav a.active {
        background-color: white;
    }
    
    nav a.active {
        color: rgba(85, 124, 62, 1);
    }
    
    .contactCols p {
        text-align: center;
    }
    
    footer.page-footer {
        color: #a5a3a3;
        text-align: center;
        padding-top: 3em;
    }
    
    p.footer-disc {
        font-size: 0.8em;
    }
    
    .page-footer a {
        color: #ada3ab;
    }
    /* Mobile Nav */
    
    .slicknav_btn {
        position: relative;
        display: block;
        vertical-align: middle;
        float: right;
        padding: 0.438em 0.625em 0.438em 0.625em;
        line-height: 1.125em;
        cursor: pointer;
    }
    
    .slicknav_menu {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
    }
    
    .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
        margin-top: 0.188em;
    }
    
    .slicknav_menu {
        *zoom: 1;
    }
    
    .slicknav_menu .slicknav_menutxt {
        display: block;
        line-height: 1.188em;
        float: left;
    }
    
    .slicknav_menu .slicknav_icon {
        float: left;
        width: 1.125em;
        height: 0.875em;
        margin: 0.188em 0 0 0.438em;
    }
    
    .slicknav_menu .slicknav_icon:before {
        background: transparent;
        width: 1.125em;
        height: 0.875em;
        display: block;
        content: "";
        position: absolute;
    }
    
    .slicknav_menu .slicknav_no-text {
        margin: 0;
    }
    
    .slicknav_menu .slicknav_icon-bar {
        display: block;
        width: 1.125em;
        height: 0.125em;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }
    
    .slicknav_menu:before {
        content: "Hardy J Plants";
        display: inline;
        color: white;
        font-size: 1.5em;
        padding-left: .3em;
    }
    
    .slicknav_menu:after {
        content: " ";
        display: table;
        clear: both;
    }
    
    .slicknav_nav {
        clear: both;
    }
    
    .slicknav_nav ul {
        display: block;
    }
    
    .slicknav_nav li {
        display: block;
    }
    
    .slicknav_nav .slicknav_arrow {
        font-size: 0.8em;
        margin: 0 0 0 0.4em;
    }
    
    .slicknav_nav .slicknav_item {
        cursor: pointer;
    }
    
    .slicknav_nav .slicknav_item a {
        display: inline;
    }
    
    .slicknav_nav .slicknav_row {
        display: block;
    }
    
    .slicknav_nav a {
        display: block;
    }
    
    .slicknav_nav .slicknav_parent-link a {
        display: inline;
    }
    
    .slicknav_brand {
        float: left;
    }
    
    .slicknav_menu {
        font-size: 16px;
        box-sizing: border-box;
        background: rgba(85, 124, 62, 0.9);
        padding: 5px;
    }
    
    .slicknav_menu * {
        box-sizing: border-box;
    }
    
    .slicknav_menu .slicknav_menutxt {
        color: #fff;
        font-weight: bold;
        text-shadow: 0 1px 3px #000;
    }
    
    .slicknav_menu .slicknav_icon-bar {
        background-color: #fff;
    }
    
    .slicknav_btn {
        margin: 5px 5px 6px;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    
    .slicknav_nav {
        color: #fff;
        margin: 0;
        padding: 0;
        font-size: 0.875em;
        list-style: none;
        overflow: hidden;
    }
    
    .slicknav_nav ul {
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0 0 0 20px;
    }
    
    .slicknav_nav .slicknav_row {
        padding: 5px 10px;
        margin: 2px 5px;
    }
    
    .slicknav_nav .slicknav_row:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: rgba(0, 0, 0, 0.52);
        color: #fff;
    }
    
    .slicknav_nav a {
        padding: 5px 10px;
        margin: 2px 5px;
        text-decoration: none;
        color: #fff;
    }
    
    .slicknav_nav a:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        color: #fff;
    }
    
    .slicknav_nav .slicknav_txtnode {
        margin-left: 15px;
    }
    
    .slicknav_nav .slicknav_item a {
        padding: 0;
        margin: 0;
    }
    
    .slicknav_nav .slicknav_parent-link a {
        padding: 0;
        margin: 0;
    }
    
    .slicknav_brand {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        padding: 7px 12px;
        height: 44px;
    }
    
    /*#nav > ul > li {
        text-align: center;
    }*/
    
    #nav > ul > li > a {
        padding-left: 0;
    }
    /* Sub Menus */
    
    #nav li ul {
        position: absolute;
        display: none;
        background-color: rgba(0, 0, 0, 0.8);
        margin: 0;
        padding: 0;
        width: 60%;
        left: 10px;
    }
    
    #nav li:hover ul {
        display: block;
    }
    
    #nav li ul li {
        display: block;
    }
    /* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    .container {
        position: relative;
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    .column,
    .columns {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
    /* For devices larger than 400px */
    /*@media (min-width: 400px) {
        .container {
            width: 85%;
            padding: 0;
        }
    }*/
    
    @media (min-width: 1000px) {
        .container {
            width: 80%;
        }
        .column,
        .columns {
            margin-left: 4%;
        }
        .column:first-child,
        .columns:first-child {
            margin-left: 0;
        }
        .one.column,
        .one.columns {
            width: 4.66666666667%;
        }
        .two.columns {
            width: 13.3333333333%;
        }
        .three.columns {
            width: 22%;
        }
        .four.columns {
            width: 30.6666666667%;
        }
        .five.columns {
            width: 39.3333333333%;
        }
        .six.columns {
            width: 48%;
        }
        .seven.columns {
            width: 56.6666666667%;
        }
        .eight.columns {
            width: 65.3333333333%;
        }
        .nine.columns {
            width: 74.0%;
        }
        .ten.columns {
            width: 82.6666666667%;
        }
        .eleven.columns {
            width: 91.3333333333%;
        }
        .twelve.columns {
            width: 100%;
            margin-left: 0;
        }
        .one-third.column {
            width: 30.6666666667%;
        }
        .two-thirds.column {
            width: 65.3333333333%;
        }
        .one-half.column {
            width: 48%;
        }
        /* Offsets */
        .offset-by-one.column,
        .offset-by-one.columns {
            margin-left: 8.66666666667%;
        }
        .offset-by-two.column,
        .offset-by-two.columns {
            margin-left: 17.3333333333%;
        }
        .offset-by-three.column,
        .offset-by-three.columns {
            margin-left: 26%;
        }
        .offset-by-four.column,
        .offset-by-four.columns {
            margin-left: 34.6666666667%;
        }
        .offset-by-five.column,
        .offset-by-five.columns {
            margin-left: 43.3333333333%;
        }
        .offset-by-six.column,
        .offset-by-six.columns {
            margin-left: 52%;
        }
        .offset-by-seven.column,
        .offset-by-seven.columns {
            margin-left: 60.6666666667%;
        }
        .offset-by-eight.column,
        .offset-by-eight.columns {
            margin-left: 69.3333333333%;
        }
        .offset-by-nine.column,
        .offset-by-nine.columns {
            margin-left: 78.0%;
        }
        .offset-by-ten.column,
        .offset-by-ten.columns {
            margin-left: 86.6666666667%;
        }
        .offset-by-eleven.column,
        .offset-by-eleven.columns {
            margin-left: 95.3333333333%;
        }
        .offset-by-one-third.column,
        .offset-by-one-third.columns {
            margin-left: 34.6666666667%;
        }
        .offset-by-two-thirds.column,
        .offset-by-two-thirds.columns {
            margin-left: 69.3333333333%;
        }
        .offset-by-one-half.column,
        .offset-by-one-half.columns {
            margin-left: 52%;
        }
    }
    /* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    /* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-size: 1.5em;
        /* currently ems cause chrome bug misinterpreting rems on body element */
        line-height: 1.6;
        font-weight: 400;
        font-family: 'Roboto Slab', sans-serif;
        color: #222;
    }
    /* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 2rem;
        font-weight: 300;
    }
    
    h1 {
        font-size: 4.0rem;
        line-height: 1.2;
        letter-spacing: -.1rem;
    }
    
    h2 {
        font-size: 3.6rem;
        line-height: 1.25;
        letter-spacing: -.1rem;
    }
    
    h3 {
        font-size: 3.0rem;
        line-height: 1.3;
        letter-spacing: -.1rem;
        text-align: center;
    }
    
    h4 {
        font-size: 2.4rem;
        line-height: 1.35;
        letter-spacing: -.08rem;
    }
    
    h5 {
        font-size: 1.8rem;
        line-height: 1.5;
        letter-spacing: -.05rem;
    }
    
    h6 {
        font-size: 1.5rem;
        line-height: 1.6;
        letter-spacing: 0;
    }
    /* Larger than phablet */
    
    @media (min-width: 550px) {
        h1 {
            font-size: 5.0rem;
        }
        h2 {
            font-size: 4.2rem;
        }
        h4 {
            font-size: 3.0rem;
        }
        h5 {
            font-size: 2.4rem;
        }
        h6 {
            font-size: 1.5rem;
        }
    }
    
    p {
        margin-top: 0;
    }
    /* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    a {
        color: #557c3e;
    }
    
    a:hover {
        color: #121b0d;
    }
    
    ul.menu li a:hover {
        text-decoration: underline;
    }
    /* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        display: inline-block;
        height: 50px;
        padding: 0 30px;
        color: #fff;
        text-align: center;
        /*font-size: 11px;*/
        font-weight: 600;
        line-height: 50px;
        letter-spacing: .1rem;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        background-color: rgba(85, 124, 62, 1);
        border-radius: 4px;
        border: 1.5px solid #fff;
        cursor: pointer;
        box-sizing: border-box;
    }
    
    .button:hover,
    button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    .button:focus,
    button:focus,
    input[type="submit"]:focus,
    input[type="reset"]:focus,
    input[type="button"]:focus {
        text-decoration: underline;
        color: white;
    }
    
    .button.button-primary,
    button.button-primary,
    input[type="submit"].button-primary,
    input[type="reset"].button-primary,
    input[type="button"].button-primary {
        color: #FFF;
        background-color: #33C3F0;
        border-color: #33C3F0;
    }
    
    .button.button-primary:hover,
    button.button-primary:hover,
    input[type="submit"].button-primary:hover,
    input[type="reset"].button-primary:hover,
    input[type="button"].button-primary:hover,
    .button.button-primary:focus,
    button.button-primary:focus,
    input[type="submit"].button-primary:focus,
    input[type="reset"].button-primary:focus,
    input[type="button"].button-primary:focus {
        color: #FFF;
    }
    /* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="text"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    textarea,
    select {
        height: 38px;
        padding: 6px 10px;
        /* The 6px vertically centers text on FF, ignored by Webkit */
        background-color: #fff;
        border: 1px solid #D1D1D1;
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
    }
    /* Removes awkward default styles on some inputs for iOS */
    
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="text"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    textarea {
        min-height: 65px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    
    input[type="email"]:focus,
    input[type="number"]:focus,
    input[type="search"]:focus,
    input[type="text"]:focus,
    input[type="tel"]:focus,
    input[type="url"]:focus,
    input[type="password"]:focus,
    textarea:focus,
    select:focus {
        border: 1px solid #557C3E;
        outline: 0;
    }
    
    label,
    legend {
        display: block;
        margin-bottom: .5rem;
        font-weight: 600;
    }
    
    fieldset {
        padding: 0;
        border-width: 0;
    }
    
    input[type="checkbox"],
    input[type="radio"] {
        display: inline;
    }
    
    label > .label-body {
        display: inline-block;
        margin-left: .5rem;
        font-weight: normal;
    }
    /* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    ul {
        list-style: circle inside;
    }
    
    ol {
        list-style: decimal inside;
    }
    
    ol,
    ul {
        padding-left: 0;
        margin-top: 0;
    }
    
    ul ul,
    ul ol,
    ol ol,
    ol ul {
        margin: 1.5rem 0 1.5rem 3rem;
        font-size: 90%;
    }
    
    li {
        margin-bottom: 1rem;
    }
    /* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    code {
        padding: .2rem .5rem;
        margin: 0 .2rem;
        font-size: 90%;
        white-space: nowrap;
        background: #F1F1F1;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
    }
    
    pre > code {
        display: block;
        padding: 1rem 1.5rem;
        white-space: pre;
    }
    /* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    th,
    td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #E1E1E1;
    }
    
    th:first-child,
    td:first-child {
        padding-left: 0;
    }
    
    th:last-child,
    td:last-child {
        padding-right: 0;
    }
    /* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    button,
    .button {
        margin-bottom: 1rem;
    }
    
    input,
    textarea,
    select,
    fieldset {
        margin-bottom: 1.5rem;
    }
    
    pre,
    blockquote,
    dl,
    figure,
    table,
    p,
    ul,
    ol,
    form {
        margin-bottom: 2.5rem;
    }
    /* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    .u-full-width {
        width: 100%;
        box-sizing: border-box;
    }
    
    .u-max-full-width {
        max-width: 100%;
        box-sizing: border-box;
    }
    
    .u-pull-right {
        float: right;
    }
    
    .u-pull-left {
        float: left;
    }
    /* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    hr {
        margin-top: 3rem;
        margin-bottom: 3.5rem;
        border-width: 0;
        border-top: 1px #a0a0a0;
        border-style: dashed;
    }
    /* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    /* Self Clearing Goodness */
    
    .container:after,
    .row:after,
    .u-cf {
        content: "";
        display: table;
        clear: both;
    }
    /* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    /*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
    
    @media (max-width: 399px) {
        ul.menu {
            display: none;
        }
        .slicknav_menu {
            display: block;
        }
        .hide-on-mobile {
            display: none;
        }
        div.nav h1,
        h2 {
            display: none;
        }
        .logo {
            display: none
        }
        div.nav h4 {
            font-size: 1.2em;
            text-align: center;
        }
        div.content {
            padding: 0;
        }
        .formNone {
            display: none
        }
        section#home h1 {
            padding-top: 3.2em;
        }
        section#contact h1,
        section#prices h1 {
            font-size: 2.8em;
        }
        section#home a.button {
            font-size: .7em;
            padding: 0 1.2em;
        }
        div.plants,
        div.seeds {
            margin-top: 3.2em;
        }
    }
    
    @media (min-width: 400px) {
        ul.menu {
            display: none;
        }
        .slicknav_menu {
            display: block;
        }
        div.plants,
        div.seeds {
            margin-top: 3.2em;
        }
        .hide-on-mobile {
            display: none;
        }
        div.nav h1,
        h2 {
            display: none;
        }
        .logo {
            display: none
        }
        div.nav h4 {
            font-size: 1.2em;
            text-align: center;
        }
        div.content {
            padding: 10;
        }
        .formNone {
            display: none
        }
        section#home h1 {
            padding-top: 3.2em;
        }
    }
    /* Larger than phablet (also point when grid becomes active) */
    
    @media (min-width: 550px) {
        ul.menu {
            display: none;
        }
        .slicknav_menu {
            display: block;
        }
        div.plants,
        div.seeds {
            margin-top: 3.2em;
        }
        .formNone {
            display: inherit
        }
    }
    /* Larger than tablet */
    
    @media (min-width: 750px) {
        ul.menu {
            display: block;
        }
        .slicknav_menu {
            display: none;
        }
        div.plants,
        div.seeds {
            margin-top: inherit;
        }
        div.nav {
            padding: .6em;
            margin: 0;
            right: 0;
            width: 16em;
            background-color: rgba(85, 124, 62, 1);
            height: 100%;
            position: fixed;
            overflow: auto;
            text-align: center;
        }
        div.nav ul {
            list-style-type: none;
        }
        div.nav li {
            border-bottom: 1px solid #fff;
            margin: 0;
        }
        ul.menu li:first-child {
            border-top: 1px solid #fff
        }
        div.nav li a {
            display: block;
            width: auto;
            font-size: 1em;
            font-style: normal;
            text-decoration: none;
        }
        div.nav h1 {
            display: block;
            font-size: 1.75em;
            color: white;
            text-align: center;
        }
        div.nav h2 {
            display: block;
            font-size: 1.2em;
            color: white;
            text-align: center;
        }
        img.logo {
            display: inline;
            padding: 0.5em 0;
            max-width: 45%;
        }
        div.logo {
            text-align: center;
            display: inline;
        }
        .hide-on-mobile {
            display: inline
        }
        div.nav h4 {
            font-size: 1.2em;
            color: white;
        }
        div.content {
            left: 0;
            margin-right: 17em;
        }
        section#home {
            height: 100%;
            max-height: 100%;
        }
        nav a {
            padding: .4em 0;
        }
    }
    /* Larger than desktop */
    
    @media (min-width: 1000px) {}
    /* Larger than Desktop HD */
    
    @media (min-width: 1200px) {
        @media (min-width: 400px) {
            ul.menu {
                display: block;
            }
            section#home h1 {
                padding-top: 2em;
            }
            div.nav {
                padding: .6em;
                margin: 0;
                right: 0;
                width: 21em;
                background-color: rgba(85, 124, 62, 1);
                height: 100%;
                position: fixed;
                overflow: auto;
                text-align: center;
            }
            div.content {
                margin-right: 22em;
            }
        }
        .button-collapse {
            color: #26a69a;
        }
        .parallax-container {
            min-height: 380px;
            line-height: 0;
            height: auto;
            color: rgba(255, 255, 255, .9);
        }
        .parallax-container .section {
            width: 100%;
        }
        #home div {
            padding: 6em 0;
        }
        #home h1 {
            font-size: 4em;
            font-weight: bold;
        }
        #home h5 {
            font-size: 2.2em;
        }
        @media only screen and (max-width: 992px) {
            .parallax-container .section {
                position: absolute;
                top: 40%;
            }
            #index-banner .section {
                top: 10%;
            }
        }
        @media only screen and (max-width: 600px) {
            #index-banner .section {
                top: 0;
            }
        }
        .icon-block {
            padding: 0 15px;
        }
        .icon-block .material-icons {
            font-size: inherit;
        }
    }
    
    @media only screen and (min-width: 1000px) {
        div.contactCol1 {
            padding-left: 15%;
        }
        div.contactCol2 {
            padding-right: 15%;
        }
    }
    
    @media only screen and (max-width: 370px) {
        #contact h1,
        #prices h1,
        .seeds h1,
        .plants h1 {
            font-size: 2em;
        }
    }
    
    @media only screen and (min-height: 700px) {
        img.logo {
            max-width: 60%;
        }
    }